header{
    h1{
        font-size: 68px;
        margin-left: 20px;
        color: firebrick;
        span{
            font-size: 24px;
            font-style: italic;
            color: #000 !important;
            text-transform: uppercase;
        }
    }
}