<!DOCTYPE html>
<html>
    <head>
        <title>About Narendra</title>
    </head>
    
    <body>
        <p><img id="ays" src="img/ays.jpg"> Hi Guys, <br/>I'm <b><i>Jai</i></b>, CEO of SUG Inc. I was born in the south Asian nation, India in the second half of 1980's and had a Master's degree in Computer Science.<br/>
&emsp;My expert experience incorporates different tasks, being developed of site pages, portable applications (android, IOS) utilizing different customer side programming dialects, for example, HTML5, CSS3, Java Script, JQuery and Ajax. I have a superior comprehension of MVC structural planning and fundamental learning of most recent systems, for example, Bootstrap, Backbone.js and Angular.js. <br/>
&emsp;I have confidence in persevering and I live in persistence in basic circumstances. I'm a youthful designer searching for a pleasant chance to demonstrate, enhance aptitudes and to wind up effective in the vocation.
</p>
    </body> 
 </html>